package views;
 
templ Index() {
    <html>
        <head>
            <title>Index</title>
            <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        </head>
        <body>
            <h1>Index</h1>
            <p>Welcome to the index page</p>
        </body>
    </html>
}